{% set menuItems = routesRepository.getAll() %}
<div class="progress">
    <div class="progress-bar bg-success" role="progressbar" style="width: 0%;" aria-valuemin="0" aria-valuemax="100">
        <span class="menu-progress-label js-menu-progress-label"></span>
    </div>
</div>
<div class="menu-items-container">
    <div class="container">
        <div class="row">
            <div class="col-2 px-0">
                {% set class = is_current_url('/') ? 'active' : '' %}
                <a href="/" class="{{ class }}"><i class="fad fa-house"></i></a>
            </div>

            {% for menuItem in menuItems %}
                {% set colWidth = loop.index <= 2 ? 2 : 3 %}
                <div class="col-{{ colWidth }} px-0">
                    {% set class = is_current_url(menuItem.getUrl()) ? 'active' : '' %}

                    <a href="{{ menuItem.getUrl() }}" class="{{ class }}">
                        <i class="fad {{ menuItem.getIcon() }} d-none d-md-inline-block"></i> {{ menuItem.getLabel() }}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
