{% if item.hasIrregularMonths %}
    {% set monthContainer, priceOffset, marginTops = ' creature-month-container', 'offset-0', 'mt-3 mt-lg-0' %}
{% endif %}
{% set hasIrregularMonths = item.hasIrregularMonths() %}
<div class="col-lg-3 col-4 text-lg-left text-center{{ monthContainer|default('') }}">
    {% if item.hasIrregularMonths %}
        {% for bullet in item.getBullets() %}
            {% set bulletBadgeClass = '' %}
            {% if bullet.value %}
                {% set bulletBadgeClass = ' badge-info' %}
            {% endif %}
            <span class="badge{{ bulletBadgeClass }}">{{ bullet.month }}</span>
        {% else %}
            <span class="badge">{{ bullet.month }}</span>
            {{ bullet|raw }}
        {% endfor %}
    {% else %}
        <span class="badge badge-info">{{ item.getPeriodOfYear() }}</span>
    {% endif %}
</div>
<div class="col-lg-2 col-4 text-lg-left text-center {{ marginTops|default('') }}">
    {% for creatureTime in item.getTime() %}
        <span class="badge badge-danger">{{ creatureTime }}</span>
    {% endfor %}
</div>
<div class="col-lg-2 col-4 {{ priceOffset|default('offset-4') }} {{ marginTops|default('') }} offset-lg-0 text-lg-left text-center"><span class="badge badge-warning"><!--
    --><i class="fad fa-bells"></i> {{ item.getPrice() }}<!--
    --></span><!--
--></div>
