<div class="col-4">
    <strong>{{ item.getName() }}</strong>
</div>
{% set caughtCheckboxOffset = caughtCheckboxOffset ? caughtCheckboxOffset : 6 %}
<div class="col-2 offset-{{ caughtCheckboxOffset }}">
    <div class="custom-control caught-checkbox" style="position: relative;">
        <input type="checkbox" class="custom-control-input" id="check-{{ item.getName() }}" style="position: absolute;">
        <label class="custom-control-label" for="check-{{ item.getName() }}"></label>
    </div>
</div>
{% if lastColumn is not empty %}
    {{ lastColumn }}
{% endif %}
