<div class="col-lg-4 offset-lg-0 text-lg-left text-center {{ nameColumnClasses|default('col-4 offset-4') }}">
    <strong>{{ item.getName() }}</strong>
</div>
<div class="col-lg-2 offset-lg-{{ caughtCheckboxOffset|default('6') }} {{ checkboxColumnClasses|default('col-4') }}">
    <div class="custom-control caught-checkbox">
        <input type="checkbox" class="custom-control-input" id="check-{{ item.getName() }}">
        <label class="custom-control-label" for="check-{{ item.getName() }}"></label>
    </div>
</div>
{% if lastColumn is not empty %}
    {{ lastColumn }}
{% endif %}
