<div class="col-lg-4 offset-lg-0 text-lg-left text-center {{ nameColumnClasses|default('col-4 offset-4') }}">
    <span class="js-translateable" data-toggle="modal" data-target="#translation-modal" tabindex="0">
        <strong>{{ item.getName() }}</strong>
    </span>
</div>
<div class="col-lg-2 offset-lg-{{ caughtCheckboxOffset|default('6') }} {{ checkboxColumnClasses|default('col-4') }}">
    <div class="custom-control caught-checkbox">
        {% set safeName = item.getSafeName() %}
        <input type="checkbox" class="custom-control-input"
               id="check-{{ safeName }}"
               data-group="{{ item.getGroup() }}"
               data-identifier="{{ safeName }}"
        >
        <label class="custom-control-label" for="check-{{ safeName }}"></label>
    </div>
</div>
{% if lastColumn is not empty %}
    {{ lastColumn }}
{% endif %}
