{% extends "layouts/base.twig" %}

{% block content %}

    {% set itemPlaceholders %}
        {% for progressItem in progressItems.all %}
            <div class="row mt-2">
                <div class="col-4"><i class="fad fa-{{ progressItem.icon }}"></i> {{ progressItem.label }}</div>
                <div class="col-4 js-storage-text-container" data-group="{{ progressItem.group }}">
                    <span class="js-storage-text">?</span>
                    <span class="js-storage-compare"></span>
                </div>
            </div>
        {% endfor %}
    {% endset %}

    <div class="row mx-0 mt-5 p-2 profile-container">
        <div class="col-12">
            <div class="row">
                <div class="col-12 col-lg-10 pt-2">
                    <h3>Profile for <strong class="name">&hellip;</strong></h3>
                </div>
                <div class="col-12 col-lg-2 offset-lg-0 text-left text-lg-right align-self-center">
                    <a href="/auth/logout" class="badge badge-danger text-caps-lowercase">Log out
                        <small><i class="fad fa-chevron-double-right"></i></small></a>
                </div>
            </div>
            <hr>
            <div class="row mt-4">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <h5 class="mb-4">Save/load data to account</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6 js-browser-container">
                            <div class="row">
                                <div class="col-8 align-self-center">
                                    <span>Currently in browser: </span>
                                    {{ itemPlaceholders }}
                                </div>
                                <div class="col-4">
                                    <a class="btn btn-sm btn-secondary text-white js-save-to-account">Save to account</a>
                                </div>
                            </div>
                            <div class="d-block d-lg-none">
                                <hr>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 js-storage-container">
                            <div class="row">
                                <div class="col-8 align-self-center">
                                    <span>Currently on account: </span>
                                    {{ itemPlaceholders }}
                                    <ul>
                                    </ul>
                                </div>
                                <div class="col-4">
                                    <a class="btn btn-sm btn-success text-white js-load-into-browser">Load into device</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </div>


{% endblock %}
